<div class="container">
  <div class="lg-col-12">
    <h1 ng-show="game.data.title" ng-bind="game.data.title"></h1>
    <h1 ng-hide="game.data.title">Add a Game</h1>
    <form name="gameForm" ng-submit="save()">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" ng-model="game.data.title" name="title" required>
      </div>

      <div class="form-group">
        <label>Also known as</label>
        <input type="text" class="form-control" ng-model="aliases" ng-change="setAliases(aliases)" name="aliases">
      </div>

      <div class="form-group">
        <label>Publisher</label>
        <input type="text" class="form-control" ng-model="game.data.publisher" name="title" name="publisher">
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="game.data.description" name="description"></textarea>
      </div>

      <div class="form-group">
        <label>Tags</label>
        <div ng-show="!tags.length">No tags</div>
        <ul ng-show="tags.length">
          <li class="tag" ng-repeat="tag in tags">
            <a ui-sref="tag.view({id: tag._id})" ng-bind="tag.name"></a>
            <a ng-click="removeTag(tag)">remove</a>
          </li>
        </ul>
        <div class="lg-col-4">
          Add a tag:
          <input type="text" class="form-control" typeahead="tag for tag in getTagSuggestions($viewValue)" typeahead-template-url="app/routes/game/tag-suggest.html" typeahead-min-length="2" typeahead-on-select="applyTag($item, $model, $label)" ng-model="tag" name="tag">
          <a class="btn btn-secondary" ng-click="addTag(tag)">+</a>
        </div>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
